<h1>About</h1>
<p>This is the Website where you can order any food </p>

<h3 class="text-muted mb-3">“The secret of success in life is to eat what you like and let the food fight it out inside.”</h3>

<div class="container">
  <div class="row">
    <div class="col-sm">
	      <div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="http://www.technobuffalo.com/wp-content/uploads/2014/04/fast-food.jpg" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
   </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://i.dailymail.co.uk/i/pix/2016/07/28/19/36ADC69D00000578-3695870-image-a-15_1469729356684.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/15_surprisingly_healthy_foods_slideshow/493ss_thinkstock_rf_spaghetti_with_tomatoes_on_plate.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
</div>