<div class="jumbotron text-center">
	<h1 class="display-3">
		{{title}}
	</h1>
	<p class="lead">If you are already login then Click the button below to order the food</p>
	<a href="/ideas/items" class="btn btn-dark btn-lg hvr-pulse hvr-shutter-out-horizontal">
		Order Food
	</a>
</div>

<style>
	.btn{
		background: black;
	}
	.btn:hover {
		border: 1px solid white;
	}
	.btn:active {
		border: 1px solid white;
	}

	.btn:link {
		border: 1px solid white;
	}
</style>